doctype html
html
  head
    title Timestamp Microservice
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .container
      h1.text-center FCC API Basejump: Timestamp Microservice
      .jumbotron
        h3 User Stories:
        blockquote
          ul
            | 1) I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: 15th October, 2017).
          ul
            | 2) If it does, it returns both the Unix timestamp and the natural language form of that date.
          ul
            | 3) If it does not contain a date or Unix timestamp, it returns null for those properties.
        h3 Example Usage
        code https://fcc-timestamp-hemakshis.herokuapp.com/api/15th%20October,%202017
        br
        code https://fcc-timestamp-hemakshis.herokuapp.com/api/1508025600
        h3 Example Output
        code {&quot;unix&quot;: 1508025600, &quot;natural&quot;: &quot;15th October, 2017&quot;}
    footer.text-center &copy; Copyright Hemakshi Sachdev, 2017
    ul.text-center
      li(style='display:inline-block;padding:1% 1.5% 1% 0%;')
        a(href='https://github.com/hemakshis')
          i.fa.fa-github
      li(style='display:inline-block;padding:1% 1.5% 1% 0%;')
        a(href='https://www.freecodecamp.org/hemakshis')
          i.fa.fa-free-code-camp
      li(style='display:inline-block;padding:1% 1.5% 1% 0%;')
        a(href='https://www.linkedin.com/in/hemakshi-sachdev-b41353103/')
          i.fa.fa-linkedin
      

        
